@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --vocs-color_background: #E6E6E9;
}
 
:root.dark {
  --vocs-color_background: #232225;
}

.vocs_Header {
  padding-bottom: 0.25em !important;
  margin-bottom: 0.5em !important;
}

.vocs_H2 {
  padding-top: 0 !important;
  margin-top: 1.5rem !important;
  margin-bottom: 0.5rem !important;
}
body {
  font-family: 'Crimson Pro', serif;
}